In [94]:
import pandas as pd
from sqlalchemy import create_engine

In [95]:
csv_file = "nyse-fundamentals.csv"
nyse_fund = pd.read_csv(csv_file)


nyse_fund.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [96]:
# new_list = nyse_fund.drop_duplicates(['Ticker Symbol'], keep='last')
new_list_tickers = nyse_fund.rename(columns={'Unnamed: 0': 'Id', 'Ticker Symbol': 'Ticker_Symbol', 'Period Ending': 'Period_Ending', 
                                            'Sales, General and Admin.': 'Sales', 'Total Revenue': 'Total_Revenue', 
                                            'Net Income': 'Net_Income', 'Cost of Revenue': 'Cost_Revenue', 
                                            'Accounts Payable': 'Accounts_Payable', 
                                            'Accounts Receivable': 'Accounts_Receivable'})          
new_list_tickers.head()

,Id,Ticker_Symbol,Period_Ending,Accounts_Payable,Accounts_Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total_Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [132]:

new_fundamentals = new_list_tickers[['Ticker_Symbol','Period_Ending', 'Sales', 'Total_Revenue', 'Net_Income', 'Inventory', 'Cost_Revenue', 'Accounts_Payable', 'Accounts_Receivable']].copy()
new_fundamentals.head()

,Ticker_Symbol,Period_Ending,Sales,Total_Revenue,Net_Income,Inventory,Cost_Revenue,Accounts_Payable,Accounts_Receivable
0,AAL,2012-12-31,1.297700e+10,2.485500e+10,-1.876000e+09,5.800000e+08,1.049900e+10,3.068000e+09,-222000000.0
1,AAL,2013-12-31,1.291300e+10,2.674300e+10,-1.834000e+09,1.012000e+09,1.101900e+10,4.975000e+09,-93000000.0
2,AAL,2014-12-31,2.068600e+10,4.265000e+10,2.882000e+09,1.004000e+09,1.562000e+10,4.668000e+09,-160000000.0
3,AAL,2015-12-31,2.127500e+10,4.099000e+10,7.610000e+09,8.630000e+08,1.109600e+10,5.102000e+09,352000000.0
4,AAP,2012-12-29,2.440721e+09,6.205003e+09,3.876700e+08,2.308609e+09,3.106967e+09,2.409453e+09,-89482000.0

In [133]:
csv_file = "nyse-securities.csv"
customer_data_df = pd.read_csv(csv_file)

customer_data_df

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",2016-05-03,1144215
6,ADBE,Adobe Systems Inc,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343
7,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449
8,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",NaN,874761
9,AET,Aetna Inc,reports,Health Care,Managed Health Care,"Hartford, Connecticut",1976-06-30,1122304
10,AMG,Affiliated Managers Group Inc,reports,Financials,Asset Management & Custody Banks,"Beverly, Massachusetts",2014-07-01,1004434
11,AFL,AFLAC Inc,reports,Financials,Life & Health Insurance,"Columbus, Georgia",NaN,4977
12,A,Agilent Technologies Inc,reports,Health Care,Health Care Equipment,"Santa Clara, California",NaN,1090872
13,APD,Air Products & Chemicals Inc,reports,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969
14,AKAM,Akamai Technologies Inc,reports,Information Technology,Internet Software & Services,"Cambridge, Massachusetts",2007-07-12,1086222
15,ALK,Alaska Air Group Inc,reports,Industrials,Airlines,"Seattle, Washington",2016-05-13,766421
16,ALB,Albemarle Corp,reports,Materials,Specialty Chemicals,"Baton Rouge, Louisiana",2016-07-01,915913
17,ALXN,Alexion Pharmaceuticals,reports,Health Care,Biotechnology,"Cheshire, Connecticut",2012-05-25,899866
18,ALLE,Allegion,reports,Industrials,Building Products,"Dublin, Ireland",2013-12-02,1579241
19,AGN,"Allergan, Plc",reports,Health Care,Pharmaceuticals,"Dublin, Ireland",NaN,884629
20,ADS,Alliance Data Systems,reports,Information Technology,Data Processing & Outsourced Services,"Plano, Texas",2013-12-23,1101215
21,LNT,Alliant Energy Corp,reports,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541
22,ALL,Allstate Corp,reports,Financials,Property & Casualty Insurance,"Northfield Township, Illinois",NaN,899051
23,GOOGL,Alphabet Inc Class A,reports,Information Technology,Internet Software & Services,"Mountain View, California",2014-04-03,1652044
24,GOOG,Alphabet Inc Class C,reports,Information Technology,Internet Software & Services,"Mountain View, California",NaN,1652044
25,MO,Altria Group Inc,reports,Consumer Staples,Tobacco,"Richmond, Virginia",NaN,764180
26,AMZN,Amazon.com Inc,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724
27,AEE,Ameren Corp,reports,Utilities,MultiUtilities,"St. Louis, Missouri",1991-09-19,1002910
28,AAL,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
29,AEP,American Electric Power,reports,Utilities,Electric Utilities,"Columbus, Ohio",NaN,4904
...,...,...,...,...,...,...,...,...
475,V,Visa Inc.,reports,Information Technology,Internet Software & Services,"San Francisco, California",2009-12-21,1403161
476,VNO,Vornado Realty Trust,reports,Real Estate,REITs,"New York, New York",NaN,899689
477,VMC,Vulcan Materials,reports,Materials,Construction Materials,"Birmingham, Alabama",NaN,1396009
478,WMT,Wal-Mart Stores,reports,Consumer Staples,Hypermarkets & Super Centers,"Bentonville, Arkansas",1982-08-31,104169
479,WBA,Walgreens Boots Alliance,reports,Consumer Staples,Drug Retail,"Deerfield, Illinois",1979-12-31,1618921
480,WM,Waste Management Inc.,reports,Industrials,Environmental Services,"Houston, Texas",NaN,823768
481,WAT,Waters Corporation,reports,Health Care,Health Care Distributors,"Milford, Massachusetts",NaN,1000697
482,WEC,Wec Energy Group Inc,reports,Utilities,Electric Utilities,"Milwaukee, Wisconsin",2008-10-31,783325
483,WFC,Wells Fargo,reports,Financials,Banks,"San Francisco, California",1976-06-30,72971
484,HCN,Welltower Inc.,reports,Real Estate,REITs,"Toledo, Ohio",2009-01-30,766704
485,WDC,Western Digital,reports,Information Technology,Computer Storage & Peripherals,"Irvine, California",2009-07-01,106040
486,WU,Western Union Co,reports,Information Technology,Internet Software & Services,"Englewood, Colorado",NaN,1365135
487,WRK,WestRock Company,reports,Materials,Paper Packaging,"Richmond, Virginia",NaN,1636023
488,WY,Weyerhaeuser Corp.,reports,Real Estate,REITs,"Federal Way, Washington",NaN,106535
489,WHR,Whirlpool Corp.,reports,Consumer Discretionary,Household Appliances,"Benton Harbor, Michigan",NaN,106640
490,WFM,Whole Foods Market,reports,Consumer Staples,Food Retail,"Austin, Texas",NaN,865436
491,WMB,Williams Cos.,reports,Energy,Oil & Gas Exploration & Production,"Tulsa, Oklahoma",1975-03-31,107263
492,WLTW,Willis Towers Watson,reports,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,1140536
493,WYN,Wyndham Worldwide,reports,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","Parsippany, New Jersey",NaN,1361658
494,WYNN,Wynn Resorts Ltd,reports,Consumer Discretionary,Casinos & Gaming,"Las Vegas, Nevada",2008-11-14,1174922
495,XEL,Xcel Energy Inc,reports,Utilities,MultiUtilities,"Minneapolis, Minnesota",NaN,72903
496,XRX,Xerox Corp.,reports,Information Technology,IT Consulting & Other Services,"Norwalk, Connecticut",NaN,108772
497,XLNX,Xilinx Inc,reports,Information Technology,Semiconductors,"San Jose, California",NaN,743988
498,XL,XL Capital,reports,Financials,Property & Casualty Insurance,"Hamilton, Bermuda",NaN,875159
499,XYL,Xylem Inc.,reports,Industrials,Industrial Conglomerates,"White Plains, New York",2011-11-01,1524472
500,YHOO,Yahoo Inc.,reports,Information Technology,Internet Software & Services,"Sunnyvale, California",NaN,1011006
501,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",NaN,1136869
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",NaN,109380
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280

In [134]:
# new_costumer_data = customer_data_df.drop_duplicates()

In [135]:
new_customer_data_df = customer_data_df[['Ticker symbol','Security','GICS Sector', 'GICS Sub Industry']].copy()
new_customer_data_df.head()

,Ticker symbol,Security,GICS Sector,GICS Sub Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie,Health Care,Pharmaceuticals
3,ACN,Accenture plc,Information Technology,IT Consulting & Other Services
4,ATVI,Activision Blizzard,Information Technology,Home Entertainment Software

In [136]:

df = pd.DataFrame(new_customer_data_df)

df.head()

,Ticker symbol,Security,GICS Sector,GICS Sub Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie,Health Care,Pharmaceuticals
3,ACN,Accenture plc,Information Technology,IT Consulting & Other Services
4,ATVI,Activision Blizzard,Information Technology,Home Entertainment Software

In [138]:
df_1 =  pd.DataFrame(new_fundamentals)

df_1['Year'] = pd.DatetimeIndex(df_1['Period_Ending']).year

df_1

remove_year = del

,Ticker_Symbol,Period_Ending,Sales,Total_Revenue,Net_Income,Inventory,Cost_Revenue,Accounts_Payable,Accounts_Receivable,Year
0,AAL,2012-12-31,1.297700e+10,2.485500e+10,-1.876000e+09,5.800000e+08,1.049900e+10,3.068000e+09,-2.220000e+08,2012
1,AAL,2013-12-31,1.291300e+10,2.674300e+10,-1.834000e+09,1.012000e+09,1.101900e+10,4.975000e+09,-9.300000e+07,2013
2,AAL,2014-12-31,2.068600e+10,4.265000e+10,2.882000e+09,1.004000e+09,1.562000e+10,4.668000e+09,-1.600000e+08,2014
3,AAL,2015-12-31,2.127500e+10,4.099000e+10,7.610000e+09,8.630000e+08,1.109600e+10,5.102000e+09,3.520000e+08,2015
4,AAP,2012-12-29,2.440721e+09,6.205003e+09,3.876700e+08,2.308609e+09,3.106967e+09,2.409453e+09,-8.948200e+07,2012
5,AAP,2013-12-28,2.591828e+09,6.493814e+09,3.917580e+08,2.556557e+09,3.241668e+09,2.609239e+09,-3.242800e+07,2013
6,AAP,2015-01-03,3.601903e+09,9.843861e+09,4.938250e+08,3.936955e+09,5.390248e+09,3.616038e+09,-4.820900e+07,2015
7,AAP,2016-01-02,3.596992e+09,9.737018e+09,4.733980e+08,4.174768e+09,5.314246e+09,3.757085e+09,-2.147600e+07,2016
8,AAPL,2013-09-28,1.083000e+10,1.709100e+11,3.703700e+10,1.764000e+09,1.066060e+11,3.622300e+10,-1.949000e+09,2013
9,AAPL,2014-09-27,1.199300e+10,1.827950e+11,3.951000e+10,2.111000e+09,1.122580e+11,4.864900e+10,-6.452000e+09,2014
10,AAPL,2015-09-26,1.432900e+10,2.337150e+11,5.339400e+10,2.349000e+09,1.400890e+11,6.067100e+10,-3.124000e+09,2015
11,AAPL,2016-09-24,1.419400e+10,2.156390e+11,4.568700e+10,2.132000e+09,1.313760e+11,5.932100e+10,1.044000e+09,2016
12,ABBV,2012-12-31,4.989000e+09,1.838000e+10,5.275000e+09,1.091000e+09,4.508000e+09,5.734000e+09,2.230000e+08,2012
13,ABBV,2013-12-31,5.352000e+09,1.879000e+10,4.128000e+09,1.150000e+09,4.581000e+09,6.448000e+09,6.810000e+08,2013
14,ABBV,2014-12-31,8.474000e+09,1.996000e+10,1.774000e+09,1.124000e+09,4.426000e+09,6.954000e+09,-1.720000e+08,2014
15,ABBV,2015-12-31,6.387000e+09,2.285900e+10,5.144000e+09,1.719000e+09,4.500000e+09,8.463000e+09,-1.076000e+09,2015
16,ABC,2013-09-30,1.447234e+09,8.795917e+10,4.337070e+08,6.981494e+09,8.545135e+10,1.487064e+10,-2.312518e+09,2013
17,ABC,2014-09-30,2.011595e+09,1.195691e+11,2.742300e+08,8.593852e+09,1.165868e+11,1.725016e+10,-9.382860e+08,2014
18,ABC,2015-09-30,2.858458e+09,1.359618e+11,-1.381650e+08,9.755094e+09,1.324325e+11,2.157823e+10,-1.478793e+09,2015
19,ABC,2016-09-30,2.382097e+09,1.468497e+11,1.427929e+09,1.072392e+10,1.425771e+11,2.467016e+10,-9.127240e+08,2016
20,ABT,2012-12-31,6.735000e+09,1.905000e+10,5.963000e+09,3.793000e+09,8.899000e+09,1.088900e+10,3.600000e+07,2012
21,ABT,2013-12-31,6.372000e+09,1.965700e+10,2.576000e+09,2.693000e+09,9.193000e+09,5.948000e+09,-1.130000e+08,2013
22,ABT,2014-12-31,6.530000e+09,2.024700e+10,2.284000e+09,2.643000e+09,9.218000e+09,5.350000e+09,-1.950000e+08,2014
23,ABT,2015-12-31,6.785000e+09,2.040500e+10,4.423000e+09,2.599000e+09,8.747000e+09,5.683000e+09,-1.710000e+08,2015
24,ADBE,2013-11-29,2.140578e+09,4.055240e+09,2.899850e+08,0.000000e+00,5.865570e+08,7.292570e+08,3.364900e+07,2013
25,ADBE,2014-11-28,2.195640e+09,4.147065e+09,2.683950e+08,0.000000e+00,6.220800e+08,7.761630e+08,7.928000e+06,2014
26,ADBE,2015-11-27,2.215161e+09,4.795511e+09,6.295510e+08,0.000000e+00,7.443170e+08,7.793560e+08,-7.950200e+07,2015
27,ADBE,2016-12-02,2.487907e+09,5.854430e+09,1.168782e+09,0.000000e+00,8.199080e+08,8.660160e+08,-1.604160e+08,2016
28,ADI,2013-11-02,3.962330e+08,2.633689e+09,6.734870e+08,2.833370e+08,9.412780e+08,3.230840e+08,1.237700e+07,2013
29,ADI,2014-11-01,4.546760e+08,2.864773e+09,6.293200e+08,3.679270e+08,1.034585e+09,4.306210e+08,-3.646000e+07,2014
...,...,...,...,...,...,...,...,...,...,...
1751,XRAY,2014-12-31,1.143100e+09,2.922600e+09,3.229000e+08,3.871000e+08,1.322800e+09,5.408000e+08,7.200000e+06,2014
1752,XRAY,2015-12-31,1.077300e+09,2.674300e+09,2.512000e+08,3.404000e+08,1.157100e+09,4.639000e+08,-9.000000e+05,2015
1753,XRX,2012-12-31,4.398000e+09,2.042100e+10,1.195000e+09,1.011000e+09,1.363400e+10,2.654000e+09,6.410000e+08,2012
1754,XRX,2013-12-31,4.219000e+09,2.000600e+10,1.159000e+09,9.980000e+08,1.352100e+10,2.360000e+09,5.730000e+08,2013
1755,XRX,2014-12-31,4.020000e+09,1.954000e+10,1.013000e+09,9.340000e+08,1.329400e+10,2.338000e+09,6.700000e+07,2014
1756,XRX,2015-12-31,3.792000e+09,1.804500e+10,4.740000e+08,9.420000e+08,1.278200e+10,2.265000e+09,4.080000e+08,2015
1757,XYL,2012-12-31,9.360000e+08,3.791000e+09,2.970000e+08,4.430000e+08,2.289000e+09,7.750000e+08,2.000000e+06,2012
1758,XYL,2013-12-31,9.900000e+08,3.837000e+09,2.280000e+08,4.750000e+08,2.338000e+09,8.110000e+08,-4.700000e+07,2013
1759,XYL,2014-12-31,9.200000e+08,3.916000e+09,3.370000e+08,4.860000e+08,2.403000e+09,8.140000e+08,-3.700000e+07,2014
1760,XYL,2015-12-31,8.540000e+08,3.653000e+09,3.400000e+08,4.330000e+08,2.249000e+09,7.450000e+08,-2.400000e+07,2015
1761,YHOO,2012-12-31,1.641819e+09,4.986566e+09,3.945479e+09,0.000000e+00,1.620566e+09,9.933060e+08,3.475200e+07,2012
1762,YHOO,2013-12-31,1.751275e+09,4.680380e+09,1.366281e+09,0.000000e+00,1.349380e+09,1.045813e+09,2.619900e+07,2013
1763,YHOO,2014-12-31,1.770710e+09,4.618133e+09,7.521731e+09,0.000000e+00,1.387375e+09,4.178020e+09,2.927800e+07,2014
1764,YHOO,2015-12-31,1.768522e+09,4.968301e+09,-4.359082e+09,0.000000e+00,2.077748e+09,1.143349e+09,-3.906500e+07,2015
1765,YUM,2012-12-29,1.450000e+09,1.363300e+10,1.597000e+09,3.130000e+08,9.852000e+09,2.269000e+09,-1.800000e+07,2012
1766,YUM,2013-12-28,1.454000e+09,1.308400e+10,1.091000e+09,2.940000e+08,9.501000e+09,2.194000e+09,-1.200000e+07,2013
1767,YUM,2014-12-27,1.505000e+09,1.327900e+10,1.051000e+09,3.010000e+08,9.682000e+09,2.142000e+09,-2.100000e+07,2014
1768,YUM,2015-12-26,1.746000e+09,1.310500e+10,1.293000e+09,2.290000e+08,9.359000e+09,2.165000e+09,-5.400000e+07,2015
1769,ZBH,2012-12-31,1.822100e+09,4.471700e+09,7.550000e+08,9.953000e+08,1.125200e+09,2.069000e+08,-4.550000e+07,2012
1770,ZBH,2013-12-31,1.796300e+09,4.623400e+09,7.804000e+08,1.074500e+09,1.266700e+09,3.675000e+08,-7.430000e+07,2013
1771,ZBH,2014-12-31,1.772200e+09,4.673300e+09,7.203000e+08,1.193300e+09,1.242800e+09,2.255000e+08,-4.040000e+07,2014
1772,ZBH,2015-12-31,2.291900e+09,5.997800e+09,1.470000e+08,2.254100e+09,1.800600e+09,4.320000e+08,-5.610000e+07,2015
1773,ZION,2012-12-31,1.579007e+09,2.458592e+09,3.495160e+08,0.000000e+00,8.014600e+07,0.000000e+00,0.000000e+00,2012
1774,ZION,2013-12-31,1.700064e+09,2.278812e+09,2.637910e+08,0.000000e+00,5.891300e+07,0.000000e+00,0.000000e+00,2013
1775,ZION,2014-12-31,1.654369e+09,2.361631e+09,3.984620e+08,0.000000e+00,4.973600e+07,0.000000e+00,0.000000e+00,2014
1776,ZION,2015-12-31,1.591239e+09,2.210591e+09,3.094710e+08,0.000000e+00,4.934400e+07,0.000000e+00,0.000000e+00,2015
1777,ZTS,2013-12-31,1.613000e+09,4.561000e+09,5.040000e+08,1.293000e+09,1.669000e+09,1.381000e+09,-9.900000e+07,2013
1778,ZTS,2014-12-31,1.643000e+09,4.785000e+09,5.830000e+08,1.289000e+09,1.717000e+09,1.071000e+09,6.900000e+07,2014
1779,ZTS,2015-12-31,1.532000e+09,4.765000e+09,3.390000e+08,1.467000e+09,1.738000e+09,1.313000e+09,-5.800000e+07,2015
1780,ZTS,2016-12-31,1.364000e+09,4.888000e+09,8.210000e+08,1.502000e+09,1.666000e+09,1.076000e+09,1.500000e+07,2016